// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * F&S Elektronik Systeme GmbH device tree source
 *
 * Copyright 2022 F&S Elektronik Systeme GmbH
 *
 */

/dts-v1/;
#include "../freescale/fsl-ls1028a.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/net/mscc-phy-vsc8531.h>

/delete-node/ &dpclk;
/delete-node/ &hdptx0;
/delete-node/ &malidp0;

&soc {
	/delete-node/ gpu@f0c0000;
};

/ {
     model = "F&S GAL1 Board";
     compatible = "fus,gal1", "fsl,ls1028a";

     aliases {
        crypto = &crypto;
        serial0 = &duart0;
        serial1 = &lpuart0;
        serial2 = &lpuart2;

		/* Needed for UBOOT to set MAC-ADDRESS */
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
		ethernet2 = &enetc_port2;
		ethernet3 = &mscc_felix_port0;
		ethernet4 = &mscc_felix_port1;
		ethernet5 = &mscc_felix_port2;
		ethernet6 = &mscc_felix_port3;
		ethernet7 = &enetc_port3;
    };

     chosen {
		stdout-path = "serial0:115200n8";
     };

     memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>; //1GiB in DRAM region 1
     };

	leds {
		compatible = "gpio-leds";

		D4-GN {
			label = "D4-LED_green";
			gpios = <&gpio4 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";	
		};

		D5-GN {
			label = "D5-LED_green";
			gpios = <&gpio4 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		D6-RD {
			label = "D6-LED_red";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		D6-GN {
			label = "D6-LED_green";
			gpios = <&gpio4 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		D7-RD {
			label = "D7-LED_red";
			gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		D7-GN {
			label = "D7-LED_green";
			gpios = <&gpio4 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		D7-BL {
			label = "D7-LED_blue";
			gpios = <&gpio4 10 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		regulator_3v3: regulator_3V3@0 {
			compatible = "regulator-fixed";
			regulator-name = "3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};
		regulator_1v8: pmic_1V8@1 {
			compatible = "regulator-fixed";
			regulator-name = "1V8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			regulator-always-on;
		};

	};

	/delete-node/ thermal-zones;

	thermal-zones {
		ddr-controller {
			polling-delay-passive = <1000>;
			polling-delay = <5000>;
			thermal-sensors = <&tmu 0>;

			trips {
				ddr-ctrler-alert {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "passive";
				};

				ddr-ctrler-crit {
					temperature = <105000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};
		};

		core-cluster {
			polling-delay-passive = <1000>;
			polling-delay = <5000>;
			thermal-sensors = <&tmu 1>;

			trips {
				core_cluster_alert: core-cluster-alert {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "passive";
				};

				core_cluster_crit: core-cluster-crit {
					temperature = <105000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&core_cluster_alert>;
					cooling-device =
						<&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};

	sfp_ext: sfp_ext {
	 	compatible = "sff,sfp";
	 	i2c-bus = <&i2c1>;
		vcc-supply = <&regulator_3v3>;
	};

	sfp_int: sfp_int {
		//enabled in u-boot
	 	compatible = "sff,sfp";
	 	i2c-bus = <&i2c4>;
		vcc-supply = <&regulator_3v3>;
		status = "disabled";
	};
	
	esdhc1_pwrseq: emmc_pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio4 1 (GPIO_ACTIVE_LOW|GPIO_OPEN_DRAIN)>;
	};
};

&cpu1 {
	status = "disabled";
};

&esdhc1 {
	/* EMMC */
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	mmc-pwrseq = <&esdhc1_pwrseq>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";
	gpio4: pca6524@22 {
		/* extern GPIO controller */
		compatible = "nxp,pcal6524";
		reg  = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&regulator_1v8>;
		gpio-line-names = /* Port 1 */
				  "DDR_RST_B_1V8",
				  "eMMC_RST_B_1V8",
				  "PCIe_CLKGEN",
				  "PCIe_SIM_SW",
				  "LED_G2_GPIO_1V8",
				  "LED_G3_GPIO_1V8",
				  "LED_R1_GPIO_1V8",
				  "LED_G4_GPIO_1V8",
				  /* Port 2 */
				  "LED_R2_GPIO_1V8",
				  "LED_G5_GPIO_1V8",
				  "LED_B1_GPIO_1V8",
				  "PCIe1_PWR_EN",
				  "PCIe1_RST_B_1V8",
				  "PCIe1_WAKE_B_1V8",
				  "PCIe2_PWR_EN",
				  "PCIe2_RST_B_1V8", 
				  /* Port 3 */
				  "PCIe2_WAKE_B_1V8",
				  "PCIe2_CLKREQ_B_1V8",
				  "PCIe1_CLKREQ_B_1V8",
				  "RGMII_RST_1V8",
				  "RGMII_IRQ_1V8",
				  "QSGMII_RST_1V8",
				  "QSGMII_IRQ_1V8",
				  "SFP_INT_LINK_1V8";

		ddr_rst_hog {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		pcie_clkgen_hog {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_LOW>;
			output-high;
		};

		PCIe1_rst_hog {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_LOW>;
			output-low;
		};

		PCIe2_rst_hog {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_LOW>;
			output-low;
		};
	};

	temp_sensor: temp_sensor@2c {
		/* enabled in U-Boot */
		compatible = "nxp,pct2075";
		reg = <0x2c>;
		vs-supply = <&regulator_3v3>;
		status = "disabled";
	};

	rtc@51 {
		compatible = "nxp,pcf85263";
		reg = <0x51>;
		vcc-supply = <&regulator_3v3>;
	};
};

&gpio1 {
	gpio-line-names = 
		/* Line 0-14 */
		"","","","","","","","","","",
		"","","","","",
		/* LED (15)*/
		"SFP_EXT_LINK_1V8",
		/* Line 16-31 */
		"","","","","","","","","","",
		"","","","","","";
};

&gpio2 {
	gpio-line-names = 
		/* Line 0-19*/
		"","","","","","","","","","",
		"","","","","","","","","","",
		/* Line 20-23 for GPIO */
		"GPIO-1",
		"GPIO-0",
		"GPIO-2",
		"GPIO-3",
		/* Line 24-31 */
		"","","","",
		"RS232_DSR",
		"RS232_RI",
		"RS232_DTR",
		"RS232_DCD";
};

&gpio3 {
	gpio-line-names =
		/* Line 0-12 */
		"","","","","","","","","","",
		"","","",
		/* Line 13 -16 for GPIO */
		"GPIO-7",
		"GPIO-6",
		"GPIO-4",
		"GPIO-5",
		/*Line 17 - 18*/
		"TA_PROG_1V8",
		"USB1_PWR_EN",
		/*Line 19-31*/
		"","","","","","","","","",
		"","","","";
};

&duart0 {
	status = "okay";
};

&lpuart0 {
	status = "okay";
};

&lpuart2 {
	status = "okay";
    dtr-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
    rng-gpios = <&gpio2 29 GPIO_ACTIVE_HIGH>;
    dsr-gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>;
    dcd-gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;
};

&pcie1 {
	status = "okay";
};

&pcie2 {
	status = "okay";
};

&enetc_mdio_pf3 {
	rgmii_phy0: ethernet-phy@1 {
		/* Realtek RTL8211FSI-PHY */
		reg = <0x1>;
		reset-gpios = <&gpio4 19 GPIO_ACTIVE_HIGH>;
		reset-assert-us = <50000>;
		reset-deassert-us = <200000>;
		sfp = <&sfp_int>;
	};

	qsgmii_phy0: ethernet-phy@10 {
		/* Microsemi VSC8514XMK */
		vsc8531,led-0-mode = <VSC8531_ACTIVITY>;
		vsc8531,led-2-mode = <VSC8531_DUPLEX_COLLISION>;
		reg = <0x10>;
	};

	qsgmii_phy1: ethernet-phy@11 {
		/* Microsemi VSC8514XMK */
		vsc8531,led-0-mode = <VSC8531_ACTIVITY>;
		vsc8531,led-2-mode = <VSC8531_DUPLEX_COLLISION>;
		reg = <0x11>;
	};

	qsgmii_phy2: ethernet-phy@12 {
		/* Microsemi VSC8514XMK */
		vsc8531,led-0-mode = <VSC8531_ACTIVITY>;
		vsc8531,led-2-mode = <VSC8531_DUPLEX_COLLISION>;
		reg = <0x12>;
	};

	qsgmii_phy3: ethernet-phy@13 {
		/* Microsemi VSC8514XMK */
		vsc8531,led-0-mode = <VSC8531_ACTIVITY>;
		vsc8531,led-2-mode = <VSC8531_DUPLEX_COLLISION>;
		reg = <0x13>;
	};

};

&enetc_port0 {
	/* SFP Connector */
	label = "eth2";
	phy-connection-type = "sgmii";
	managed = "in-band-status";
	sfp = <&sfp_ext>;
	link-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&enetc_port1 {
	/* internal Ethernet */
	label = "eth3";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	link-gpios = <&gpio4 23 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&enetc_port2 {
	/* connected to TSN Switch swp4*/
	label = "sw";
	status = "okay";
};

&enetc_port3 {
	/* connected to TSN Switch swp5 */
	label = "sw-ctrl";
	status = "disable";
};

&mscc_felix {
	/* TSN Switch */
	status = "okay";
};


&mscc_felix_port1 {
	label = "eth1";
	managed = "in-band-status";
	phy-handle = <&qsgmii_phy1>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port2 {
	label = "eth0";
	managed = "in-band-status";
	phy-handle = <&qsgmii_phy2>;
	phy-mode = "qsgmii";
	status = "okay";
};

/* Following two ports are not connected on GAL1
 * But these are used on GAL2
 */
&mscc_felix_port0 {
	label = "swp0-disabled";
	managed = "in-band-status";
	phy-handle = <&qsgmii_phy0>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port3 {
	label = "swp3-disabled";
	managed = "in-band-status";
	phy-handle = <&qsgmii_phy3>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port4{
	label = "sw-int";
	ethernet = <&enetc_port2>;
	status = "okay";
};

&mscc_felix_port5{
	label = "sw-int-ctrl";
	ethernet = <&enetc_port3>;
	status = "disable";
};

&usb0 {
	dr_mode = "host";
};

&usb1 {
	dr_mode = "host";
};

&optee {
	status = "okay";
};