// SPDX-License-Identifier: GPL-2.0
/*
* Copyright 2024 F&S Elektronik Systeme GmbH
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 as
* published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

/ {

    cm33: remoteproc-cm33 {
		compatible = "fsl,imx8ulp-cm33";
		status = "disabled";
	};

	srtm_services {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		rp_gpioa: gpio-rpbus-0 {
			compatible = "fsl,imx-rpmsg-gpio";
			port_idx = <0>;
			gpio-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&rp_gpioa>;
			status = "disabled";
		};

		rp_gpiob: gpio-rpbus-1 {
			compatible = "fsl,imx-rpmsg-gpio";
			port_idx = <1>;
			gpio-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&rp_gpiob>;
			status = "disabled";
		};

		rp_gpioc: gpio-rpbus-2 {
			compatible = "fsl,imx-rpmsg-gpio";
			port_idx = <2>;
			gpio-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&rp_gpioc>;
			status = "disabled";
		};

        rp_i2c0: i2c-rpbus-0 {
            compatible = "fsl,i2c-rpbus-v2";
            status = "disabled";
        };

        rp_i2c1: i2c-rpbus-1 {
            compatible = "fsl,i2c-rpbus-v2";
            status = "disabled";
        };
    };
};
