/*
* Copyright (C) 2024 F&S Elektronik Systeme GmbH
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 as
* published by the Free Software Foundation.
*/

/dts-v1/;

/* Set board revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_FSSMMX8MP_BOARD_REVISION	100
/* Set baseboard revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_FSSMBB_BOARD_REVISION	100
//#define SUPPORT_M7

/* HDMI */
//#define CONFIG_FSSMMX8MP_HDMI
//#define CONFIG_FSSMMX8MP_HDMI_AUDIO

/* Network */
#define CONFIG_FSSMMX8MP_ETH_A
#define CONFIG_FSSMMX8MP_ETH_B

/* Add entry configuration for marvell wlan, bluetooth driver.
 * The entry is for NXP driver not needed. */
#define CONFIG_FSSMMX8MP_WLAN_MARVELL_DRV

/* CAN */
/* CAN0 */
#define CONFIG_FSSMMX8MP_CAN_A
/* CAN1 */
#define CONFIG_FSSMMX8MP_CAN_B

/* I2C */
#define CONFIG_FSSMMX8MP_I2C_GP
#define CONFIG_FSSMMX8MP_I2C_PM
#define CONFIG_FSSMMX8MP_I2C_LCD
#define CONFIG_FSSMMX8MP_I2C_CAM0
#define CONFIG_FSSMMX8MP_I2C_CAM1

/*
 * SDIO - External SD port with Card Detect (CD) and Write Protect (WP).
 */
#define CONFIG_FSSMMX8MP_SDIO

/* PWM and backlight brightness */
/* GPIO5 / PWM_OUT */
#define CONFIG_FSSMMX8MP_PWM_OUT
/* LCD0_BKLT_EN */
/* Function on FSSMBB: LCD0_IRQ LCD0_RST */
// #define CONFIG_FSSMMX8MP_BL_CTRL_A
/* LCD1_BKLT_EN */
#define CONFIG_FSSMMX8MP_BL_CTRL_B

/* SER1 */
#define CONFIG_FSSMMX8MP_UART_A
/* SER0 */
#define CONFIG_FSSMMX8MP_UART_B
#define CONFIG_FSSMMX8MP_UART_B_RTSCTS
/* SER3 */
#define CONFIG_FSSMMX8MP_UART_C
/* SER2 */
#define CONFIG_FSSMMX8MP_UART_D
#define CONFIG_FSSMMX8MP_UART_D_RTSCTS

/* SPI_A - Feature connector J20 pins 12,14,16,17 */
#define CONFIG_FSSMMX8MP_SPI_A
/* SPI_B - Feature connector J20 pins 4,6,8,10 */
#define CONFIG_FSSMMX8MP_SPI_B

/* Audio */
/* If codec isn't equipped I2S only
 * Feature connector J20 pins 41,44,45,48,49
 * // TODO: detected but not work
 *  */
#define CONFIG_FSSMMX8MP_I2S_A

/* Camera on serial MIPI CSI interface */
//#define CONFIG_FSSMMX8MP_CSI_A
/* Enable Basler da4200 camera */
//#define CONFIG_FSSMMX8MP_CAMERA_BASLER_daA4200
#define CONFIG_FSSMMX8MP_CAMERA_BASLER_daA3840
/* USB Device TypeC and USB Host 2 Type A*/
#define CONFIG_FSSMMX8MP_USB_OTG
#define CONFIG_FSSMMX8MP_USB_HOST
/* External RTC */
#define CONFIG_FSSMMX8MP_EXT_RTC
/* Analog I/O */
#define CONFIG_FSSMMX8MP_ADC
/* Security chip */
#define CONFIG_FSSMMX8MP_SECURE
#define CONFIG_FSSMMX8MP_EEPROM

#ifdef SUPPORT_M7
#undef CONFIG_FSSMMX8MP_I2C_PM
#undef CONFIG_FSSMMX8MP_UART_A
#undef CONFIG_FSSMMX8MP_SPI_A
#undef CONFIG_FSSMMX8MP_CAN_A
#undef CONFIG_FSSMMX8MP_PWM_OUT
#endif

#include "../freescale/imx8mp.dtsi"
#include "fssmmx8mp.dtsi"

/ {
	model = "F&S FSSMMX8MP";
	compatible = "fus,imx8mp-fssmmx8mp", "fsl,imx8mp";
};

&bdinfo {
	board_name = "fssmmx8mp";
};
