/*
 * Copyright (C) 2024 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

/* Set board revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_OSM8MM_BOARD_REVISION	110
/* Set baseboard revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_PICOCOREBBDSI_BOARD_REVISION	140

/* Activate this if you want to use the Cortex-M4 core */
//#define SUPPORT_M4

/* Display device-trees enables MIPI DSI */
/* MIPI DSI */
//#define CONFIG_OSM8MM_MIPI_DSI

/* Network */
#define CONFIG_OSM8MM_ETH_A

/* USB */
#define CONFIG_OSM8MM_USB_A
#define CONFIG_OSM8MM_USB_B
#define CONFIG_OSM8MM_USB_A_USBC
#define CONFIG_OSM8MM_USB_A_USBC_ALERT

/* PCIe */
#define CONFIG_OSM8MM_PCIE_A

/* I2C */
#define CONFIG_OSM8MM_I2C_A /* OSM: EEPROM BB: I2C_A */
#define CONFIG_OSM8MM_I2C_B /* ADP: SGTL5000 BB: I2C_D */
/* OSM: I2C_CAM_PCI ADP: I2C_CAM  BB: I2C_B */
/* OSM: I2C_CAM_PCI ADP: MPCIE_SM BB: I2C_C */
#define CONFIG_OSM8MM_I2C_CAM_PCI

/* PWM and backlight brightness */
//#define CONFIG_OSM8MM_BL_CTRL
#define CONFIG_OSM8MM_PWM_0
#define CONFIG_OSM8MM_PWM_1

/* UART_CONN - UART1 */
#define CONFIG_OSM8MM_UART_CONN

/* UART_B - UART3 */
#define CONFIG_OSM8MM_UART_B
#define CONFIG_OSM8MM_UART_B_RTSCTS

/* UART_C - UART4 */
#define CONFIG_OSM8MM_UART_C

/* FSPI (Single/Dual/Quad) -> Uncommented because of SPI-GPIO */
//#define CONFIG_OSM8MM_SPI_A

/* Audio */
#define CONFIG_OSM8MM_I2S_A

/* Camera on serial MIPI CSI interface */
#define CONFIG_OSM8MM_SERIAL_CAMERA
/* Experimental implementation for Basler dart daA4200-30mci.
 * Define CONFIG_OSM8MM_SERIAL_CAMERA must also be set.
 */

/*
 * SD_A - External SD port with Card Detect (CD) and Write Protect (WP)
 * On picocoremx8mm SKIT: external port is Micro-SD card slot with CD but
 * without WP
 */
#define CONFIG_OSM8MM_SDIO_A
#define CONFIG_OSM8MM_SDIO_A_CD
#define CONFIG_OSM8MM_SDIO_A_WP

/* Check for invalid CONFIG combinations */

/*
 * Exclude devices from Linux that are used by the Cortex-M4 FreeRTOS examples
 *
 * - UART_D: Debug Console for Cortex-M4
 * - I2C_A:  I2C Bus used in I2C examples
 * - I2C_D:  I2C Bus used by the Audio Codec in SAI examples
 * - SPI_B:  SPI_B is used for ECSPI examples
 * - SDMA1:  Gets removed at another Point, it is used by SPI_B and UART driver
 *           examples
 * - SPI_A:  SPI_A using SDMA1 but SDMA1 is excluded so also exclude SPI_A
 *
 * In addition the following pins are already predefined in FreeRTOS to be used
 * as arbitrary GPIOs. Please remove the comment of the appropriate line of
 * each device from which you use any signal in your own application.
 *
 * - AUDIO_3: GPT capture driver example uses one of its Pins
 */
#ifdef SUPPORT_M4
#undef CONFIG_OSM8MM_UART_C
//#undef CONFIG_OSM8MM_I2C_A
//#undef CONFIG_OSM8MM_SPI_A
//#undef CONFIG_OSM8MM_SPI_B
/* Only undef if using audio/sai examples */
//#undef CONFIG_OSM8MM_I2C_B
//#undef CONFIG_OSM8MM_I2S_A
#endif

/* Disable PWM_0 if BL_CTRL is enabled */
#ifdef CONFIG_OSM8MM_BL_CTRL
#undef CONFIG_OSM8MM_PWM_0
#endif

/* Set different settings for corresponding baseboard revision */
#if CONFIG_PICOCOREBBDSI_BOARD_REVISION < 130
#undef CONFIG_OSM8MM_USB_A_USBC
#endif

#if !defined(CONFIG_OSM8MM_USB_A_USBC) \
    || (CONFIG_PICOCOREBBDSI_BOARD_REVISION < 140)
#undef CONFIG_OSM8MM_USB_A_USBC_ALERT
#endif

#include "osm8mm.dtsi"

/* osm_spi_a overwritten by SPI bitbanging driver */
/delete-node/ &osm_spi_a;

/ {
	model = "F&S OSM8MM";

	regulators {
		/* SGTL5000 analog voltage */
		reg_sgtl5000_vdda: sgtl5000_vdda {
			compatible = "regulator-fixed";
			regulator-name = "VDDA-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		/* SGTL5000 I/O voltage */
		reg_sgtl5000_vddio: sgtl5000_vddio {
			compatible = "regulator-fixed";
			regulator-name = "VDDIO-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		/* SGTL5000 internal digital voltage */
		reg_sgtl5000_vddd: sgtl5000_vddd {
			compatible = "regulator-fixed";
			regulator-name = "VDDD-supply";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
			regulator-always-on;
		};

		reg_mipi_rst: regulator_mipi_rst {
			compatible = "regulator-fixed";
			regulator-name = "MIPI_RST";
			gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
			enable-active-high;
			startup-delay-us = <1000>;
			off-on-delay-us = <12000>;
		};

		reg_touch_rst: regulator_touch_rst {
			compatible = "regulator-fixed";
			regulator-name = "TOUCH_RST";
			gpio = <&gpio1 7 GPIO_ACTIVE_HIGH>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
			enable-active-high;
			startup-delay-us = <1000>;
			off-on-delay-us = <12000>;
		};
	};

	sound-sgtl5000 {
		compatible = "fsl,imx-audio-sgtl5000";
		cpu-dai = <&osm_i2s_a>;
		audio-codec = <&sgtl5000>;
		model = "imx-sgtl5000";
		audio-routing =
			"LINE_IN", "Line In Jack",
//###			"MIC_IN", "Mic Jack",
//###			"Line Out Jack", "LINE_OUT",
			"Headphone Jack", "HP_OUT";
	};

	/* SPI bitbanging driver */
	osm_spi_a: spi {
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		sck-gpios = <&gpio3 0 0>;
		miso-gpios = <&gpio3 7 0>;
		mosi-gpios = <&gpio3 6 0>;
		cs-gpios = <&gpio3 1 0>;
		num-chipselects = <1>;

		spidev@0 {
			compatible = "linux,spidev";
			spi-max-frequency = <20000000>;
			reg = <0>;
			status = "okay";
		};
	};
};

&bdinfo{
	board_name = "osm8mm";
};

#if defined(CONFIG_OSM8MM_MIPI_DSI) \
|| defined(CONFIG_OSM8MM_MIPI_DSI_LVDS)
&reg_vlcd {
	gpio = <&gpio1 0 GPIO_ACTIVE_HIGH>;
};
#endif

#ifdef CONFIG_OSM8MM_BL_CTRL
&reg_ldb_bl {
	gpio = <&gpio1 1 GPIO_ACTIVE_HIGH>;
};
#endif

&osm_i2c_b {
	sgtl5000: sgtl5000@a {
		compatible = "fsl,sgtl5000";
		/* MCLK is needed for i2c sgtl driver */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sgtl5000>;
		reg = <0xa>;
		mono2both;
		clocks = <&clk IMX8MM_CLK_SAI5_ROOT>;
		VDDA-supply = <&reg_sgtl5000_vdda>;
		VDDIO-supply = <&reg_sgtl5000_vddio>;
		VDDD-supply = <&reg_sgtl5000_vddd>;
	};

#ifdef CONFIG_OSM8MM_USB_A_USBC
	/* USB-C */
	ptn5110: tcpc@52 {
		compatible = "nxp,ptn5110";
#ifdef CONFIG_OSM8MM_USB_A_USBC_ALERT
		interrupt-parent = <&gpio1>;
		interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
#endif
		reg = <0x52>;
		status = "okay";

		port {
			typec1_dr_sw: endpoint {
				remote-endpoint = <&usb1_drd_sw>;
			};
		};

		typec1_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000,
			PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				     PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};
#endif
};

&osm_i2c_cam_pci {
	basler_camera_mipi1: basler_camera_mipi@36 {
		compatible = "basler,basler-camera";
		reg = <0x36>;
		status = "okay";

		port {
			basler_camera_mipi1_ep: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;

				/* IMPORTANT: The following three entries needs
				 * to be held in sync with the information
				 * stored in the mipi1_sensor_ep node.
				 */
				 data-lanes = <1 2 3 4>;
				 clock-lanes = <0>;
				 link-frequencies = /bits/ 64 <496000000>;
			};
		};
	};
};

#if 0
/* SPI not implemented in NXP FlexSPI driver, so use SPI-GPIO */
&osm_spi_a {
	cs-gpios = <0>;

	spidev@0 {
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
	};
};
#endif

&osm_eth_a {
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy4>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy4: ethernet-phy@4 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <4>;
			rtl821x,clkout-disable;
			rtl821x,aldps-enable;
			rtl821x,ssc-rxc-enable;
			rtl821x,ssc-sysclk-enable;
			rtl821x,ssc-clkout-enable;
			rtl821x,led-link = <2>; // LED1 for link indication
			rtl821x,led-act = <2>; // LED1 for activity
			eee-broken-1000t;
		};
	};
};

&osm_usb_a {
	dr_mode = "otg";
#ifdef CONFIG_OSM8MM_USB_A_USBC
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;

	port {
		usb1_drd_sw: endpoint {
			remote-endpoint = <&typec1_dr_sw>;
		};
	};
#endif
};

&osm_usb_b {
	dr_mode = "host";
};

&osm_csi {
	/delete-property/ csi,mipi_rst;

	port {
		mipi1_sensor_ep: endpoint@1 {
			remote-endpoint = <&basler_camera_mipi1_ep>;
			/* If the following entries are changed, then
			 * the entries in the basler_camera_mipi1_ep node
			 * need to update too.
			 */
			/* On the i.mx8mmini NXP uses data-lanes
			 * other than expected by the kernel.
			 * On the imx8mmini the enry data-lanes
			 * must contain the number of data lanes.
			 */
			data-lanes = <4>;
			clock-lanes = <0>;
			link-frequencies = /bits/ 64 <496000000>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};

		csi1_mipi_ep: endpoint@2 {
			remote-endpoint = <&csi1_ep>;
		};
	};
};

&osm_csi_bridge {
	dma-coherent;
	bsl,dma-invalidate;

	port {
		csi1_ep: endpoint {
			remote-endpoint = <&csi1_mipi_ep>;
		};
	};
};

/delete-node/ &pinctrl_osm_i2s_a;

&iomuxc {
	imx8mm-picocoremx8mm {
		pinctrl_osm_i2s_a: sai5grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD1_SAI5_TX_SYNC	0x000d6
				MX8MM_IOMUXC_SAI5_RXD2_SAI5_TX_BCLK	0x000d6
				MX8MM_IOMUXC_SAI5_RXD3_SAI5_TX_DATA0	0x000d6
				MX8MM_IOMUXC_SAI5_RXD0_SAI5_RX_DATA0	0x000d6
			>;
		};

		pinctrl_sgtl5000: sgtl5000grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_MCLK_SAI5_MCLK	0x000d6
			>;
		};
	};
};
