/*
 * Copyright (C) 2021 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#define CONFIG_PICOCOREMX8MX_MIPI_DSI

#include "picocoremx8mx.dts"

/ {
	regulators {
		reg_lcd_bl: backlight_lcd {
			compatible = "regulator-fixed";
			regulator-name = "lcd-bl";
			gpio = <&pca963x 0 0>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
		};

		/* LCD power on voltage */
		reg_vlcd_adp: vlcd_adp {
			compatible = "regulator-fixed";
			regulator-name = "VLCD-ADP";
			gpio = <&pca963x 4 0>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
		};
	};

	backlight_lcd {
		compatible = "pwm-backlight";
		pwms = <&pca963x 1 640000 0>;
		power-supply = <&reg_lcd_bl>;
		brightness-levels = <0 1 5 10 18 28 41 56
				     73 92 113 137 163 192 222 255>;
		default-brightness-level = <14>;
	};
};

&lcdif {
	status = "okay";
	/* important to overwrite max-res otherwise DRM lcdif will fail to find a suitable connector */
	max-res = <4096>, <4096>;
};

&mipi_dsi {
	status = "okay";
	pref-rate = <27000>;
	clocks = <&clk IMX8MM_CLK_DSI_CORE>,
			 <&clk IMX8MM_CLK_DSI_PHY_REF>;
	clock-names = "cfg", "pll-ref";
	assigned-clocks = <&clk IMX8MM_CLK_DSI_CORE>,
				  <&clk IMX8MM_CLK_DSI_PHY_REF>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_266M>,
					 <&clk IMX8MM_VIDEO_PLL1_OUT>;
	assigned-clock-rates = <266000000>, <27000000>;

	panel@0 {
		reg = <0>;
		compatible = "fs,j070wvtc0211-dsi"; /* one of panel-simple's
			 		          match strings */

		power-supply = <&reg_vlcd_adp>;

		dsi,flags = <0xB>; /* MIPI_DSI_MODE_VIDEO MIPI_DSI_MODE_VIDEO_BURST MIPI_DSI_MODE_VIDEO_AUTO_VERT */
		dsi,format = <0x0>; /* MIPI_DSI_FMT_RGB888 */
		dsi,lanes = <4>;

		bus-flags = <0x45>;
		refresh-rate = <60>;
		rotate = <0>;
		bus-format = <0x100a>;

		panel-width-mm = <154>;
		panel-height-mm = <85>;

		display-timings {
			native-mode = <&timing0>;

			timing0: jd_j070wvtc0211 {
				clock-frequency = <33260000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <216>;
				hfront-porch = <10>;
				hsync-len = <28>;
				vback-porch = <35>;
				vfront-porch = <8>;
				vsync-len = <2>;
			};
		};

		port {
			panel1_in: endpoint {
				remote-endpoint = <&lt9211_out>;
			};
		};
	};

    port@2{
    	dsim_to_lt9211: endpoint {
        	remote-endpoint = <&lt9211_in>;
    	};
    };

};

&i2c2 {
    /* mipi to RGB controller  */
	rgb-bridge@2d {
		#address-cells = <1>;
		#size-cells = <0>;
      	compatible = "lontium,lt9211";
        reg = <0x2d>;
        reset-gpios = <&pca963x 3 GPIO_ACTIVE_HIGH>;
        vdd-supply = <&reg_vref_1v8>;
        vcc-supply = <&reg_vref_3v3>;

		port@1 {
			reg = <1>;
			lt9211_in: endpoint {
				remote-endpoint = <&dsim_to_lt9211>;
			};
		};

		port@2 {
			reg = <2>;
			lt9211_out: endpoint {
				remote-endpoint = <&panel1_in>;
			};
		};
    };

	pca963x: pca9634@61 {
			compatible = "nxp,pca9634";
			reg = <0x61>;
			nxp,totem-pole;
			#address-cells = <1>;
			#size-cells = <0>;
			#pwm-cells = <3>;
			#gpio-cells = <2>;
			led@0 {
				reg = <0>;
				label = "BL_ON";
				type = "GPIO";
				default-on;		/* or: keep-value */
				active-high;
			};
			led@1 {
				reg = <1>;
				label = "BL_PWM";
				type = "PWM";
				default-on;		/* or: keep-value */
				active-low;
			};
			led@2 {
				reg = <2>;
				label = "ROTATE";
				type = "GPIO";
				active-high;
			};
			led@3 {
				reg = <3>;
				label = "MIPI_RST";
				type = "GPIO";
				active-high;
				default-on;		/* or: keep-value */
			};
			led@4 {
				reg = <4>;
				label = "VLCD_ON";
				type = "GPIO";
				default-on;		/* or: keep-value */
				active-high;
			};
			led@5 {
				reg = <5>;
				label = "TOUCH_RST";
				type = "GPIO";
				active-high;
				default-on;		/* or: keep-value */
			};
			led@6 {
				reg = <6>;
				label = "6-unused";
				type = "LED";
				active-low;
			};
			led@7 {
				reg = <7>;
				label = "7-unused";
				type = "LED";
				active-low;
			};
		};

	tsc2004@4a {
		compatible = "ti,tsc2004";
		reg = <0x4a>;
		vio-supply = <&reg_vref_3v3>;
		reset-gpios = <&pca963x 5 GPIO_ACTIVE_HIGH>;
		interrupts-extended = <&gpio5 2 IRQ_TYPE_EDGE_FALLING>;

		touchscreen-fuzz-x = <4>;
		touchscreen-fuzz-y = <7>;
		touchscreen-fuzz-pressure = <20>;
		touchscreen-size-x = <4096>;
		touchscreen-size-y = <4096>;
		touchscreen-max-pressure = <2048>;
		touchscreen-inverted-y;
		ti,x-plate-ohms = <280>;
		//ti,esd-recovery-timeout-ms = <8000>;
	};
};

