/*
* Copyright (C) 2019 F&S Elektronik Systeme GmbH
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 as
* published by the Free Software Foundation.
*/

#define CONFIG_PICOCOREMX8MM_MIPI_DSI
#include "picocoremx8mm.dts"

/ {
	regulators {
		/* BL_ON on adapter board MIPI2MIPI1 */
		reg_mipi_bl: backlight_mipi {
			compatible = "regulator-fixed";
			regulator-name = "mipi-bl";
			gpio = <&pca963x 1 0>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
		};
	};

	/* MIPI-DSI backlight PWM on adapter MIPI2MIPI1 */
	backlight_mipi_dsi {
		compatible = "pwm-backlight";
		pwms = <&pca963x 0 640000 0>; /* 1.5625 kHz */
		power-supply = <&reg_mipi_bl>;
		brightness-levels = <0 30 32 35 39 46 55 66
				     80 96 115 137 162 190 221 255>;
		default-brightness-level = <14>;
		fb-names = "mipi_dsi";
	};
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	panel@0 {
		compatible = "eagleeyetech,ee0350et-2";
		reg = <0>;
		reset-gpios = <&pca963x 3 GPIO_ACTIVE_HIGH>;
		vci-supply = <&reg_vlcd>;
		status = "okay";
	};
};

&i2c2 {
	/* LED-driver on adapter board MIPI2MIPI1 */
	pca963x: pca9632@60 { /* LED-driver */
		compatible = "nxp,pca9632";
		reg = <0x60>;
		nxp,totem-pole;
		#address-cells = <1>;
		#size-cells = <0>;
		#pwm-cells = <3>;
		#gpio-cells = <2>;
		led@0 {
			reg = <0>;
			label = "1-LEDCTRL";
			type = "PWM";
			default-on;		/* or: keep-value */
			active-low;
		};
		led@1 {
			reg = <1>;
			label = "0-PWRCTL";
			type = "GPIO";
			default-on;		/* or: keep-value */
			active-high;
		};
		led@2 {
			reg = <2>;
			label = "2-TOUCH-RST";
			type = "GPIO";
			active-low;
		};
		led@3 {
			reg = <3>;
			label = "2-MIPI-RST";
			type = "GPIO";
			active-low;
		};
	};

	/* Atmel PCAP touch on Touch Connector (I2C) */
	mxt336u@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		interrupt-parent = <&gpio4>;
		interrupts = <31 IRQ_TYPE_EDGE_FALLING>;
		atmel,cfg_name = "atmel/mxt336u-gloves.cfg";
		reset-gpios = <&pca963x 2 GPIO_ACTIVE_HIGH>;
	};
};
