// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 NXP
 */

/ {


      reg_mipi_bl: backlight_mipi {
			compatible = "regulator-fixed";
			regulator-name = "mipi-bl";
			gpio = <&pca963x 0 0>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
		};



	backlight_mipi_dsi: backlight_mipi_dsi {
		compatible = "pwm-backlight";
		pwms = <&pca963x 1 640000 PWM_POLARITY_INVERTED>;
		power-supply = <&reg_mipi_bl>;
		brightness-levels = <0 1 5 10 18 28 41 56
				     73 92 113 137 163 192 222 255>;
		default-brightness-level = <15>;

	};

};



&dsi {
	status = "okay";

	panel@0 {
		status = "okay";
		compatible = "rongen,t070qyh-13cp";
        reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsi>;
		reset-gpios = <&pca963x 3 GPIO_ACTIVE_LOW>;
		dsi-lanes = <4>;
		/* Video mode
		 * 0: burst mode
		 * 1: non-burst mode with sync event
		 * 2: non-burst mode with sync pulse
		 */
		video-mode = <0>;
		panel-width-mm = <94>;
		panel-height-mm = <150>;

		display-timings {
			timing {
				//clock-frequency = <72000000>;
				clock-frequency = <80000000>;
				hactive = <800>;
				vactive = <1280>;
				hback-porch = <72>;
				hfront-porch = <56>;
				vback-porch = <38>;
				vfront-porch = <3>;
				hsync-len = <128>;
				vsync-len = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};


		port {
			panel_in: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&lpi2c4 {
	pca963x: pca9634@61 {
		compatible = "nxp,pca9634";
		//status = "disabled";
		status = "okay";
		reg = <0x61>;
		nxp,totem-pole;
		#address-cells = <1>;
		#size-cells = <0>;
		#pwm-cells = <3>;
		#gpio-cells = <2>;
		led@0 {
			reg = <0>;
			label = "BL_ON";
			type = "GPIO";
			active-high;
			default-on;		/* or: keep-value */
		};
		led@1 {
			reg = <1>;
			label = "BL_PWM";
			type = "PWM";
			active-high;
		};
		led@2 {
			reg = <2>;
			label = "2-unused";
			type = "LED";
			active-low;
		};
		led@3 {
			reg = <3>;
			label = "MIPI_RST";
			type = "GPIO";
			active-high;
			default-on;		/* or: keep-value */
		};
		led@4 {
			reg = <4>;
			label = "4-unused";
			type = "LED";
			active-low;
		};
		led@5 {
			reg = <5>;
			label = "TOUCH_RST";
			type = "GPIO";
			active-high;
			default-on;		/* or: keep-value */
		};
		led@6 {
			reg = <6>;
			label = "6-unused";
			type = "LED";
			active-low;
		};
		led@7 {
			reg = <7>;
			label = "7-unused";
			type = "LED";
			active-low;
		};
	};

	focaltech@38 {
		//status = "disabled";
		status = "okay";
		compatible = "focaltech,fts";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch>;
		pinctrl-1 = <&pinctrl_touch>;
		interrupt-parent = <&gpioe>;
		interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
		focaltech,irq-gpio = <&gpioe 2 IRQ_TYPE_EDGE_FALLING>;
		focaltech,swap-xy;
		focaltech,touchscreen-inverted-y;
		focaltech,reset-gpio = <&gpioe 3 GPIO_ACTIVE_LOW>;
		focaltech,num-max-touches = <10>;
		focaltech,display-coords = <0 0 800 1280>;
	};

};



&iomuxc1 {
	pinctrl_dsi: dsigrp {
		fsl,pins = <
			MX8ULP_PAD_PTE9__PTE9		0x3
		>;
	};

	pinctrl_touch: touchgrp {
		fsl,pins = <
			MX8ULP_PAD_PTE2__PTE2	0x3 //int
			MX8ULP_PAD_PTE5__PTE5  0x3 //reset
		>;
	};

};
