/*
 * Copyright (C) 2024 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/ {

	lvds_panel {
		compatible = "panel-lvds";
		power-supply = <&reg_vlcd>;
		backlight = <&backlight_ldb>;
		data-mapping = "vesa-24";
		label = "j070wvtc0211";
		width-mm = <154>;
		height-mm = <85>;
		status = "okay";

		panel-timing {
			clock-frequency = <33300000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <46>;
			hfront-porch = <209>;
			hsync-len = <1>;
			vback-porch = <23>;
			vfront-porch = <11>;
			vsync-len = <1>;
			de-active = <1>;
			vsync-active = <1>;
			hsync-active = <1>;
		};

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
};

&reg_bl_on {
	status = "okay";
};

&reg_vlcd {
	status = "okay";
};

&backlight_ldb {
	status = "okay";
};

&lcdif {
	status = "okay";
	assigned-clock-rates = <1400000000>, <33300000>, <400000000>, <133333333>;
};

&ldb_phy {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};
};

&lpi2c8 {
	status = "okay";
	/* touch I2C */
	focaltech@38 {
		compatible = "focaltech,fts";
		reg = <0x38>;
		interrupt-parent = <&gpio2>;
		interrupts = <18 IRQ_TYPE_EDGE_FALLING>;
		focaltech,irq-gpio = <&gpio2 18 IRQ_TYPE_EDGE_FALLING>;
#ifdef CONFIG_PICOCOREMX93_INVERTED_XY
		focaltech,touchscreen-inverted-x;
		focaltech,touchscreen-inverted-y;
#endif
		focaltech,reset-gpio = <&gpio2 19 GPIO_ACTIVE_LOW>;
		focaltech,num-max-touches = <10>;
		focaltech,display-coords = <0 0 800 480>;
	};
};
