/*
 * Copyright (C) 2016 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

/* Set board revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_ARMSTONEA9_BOARD_REVISION	110

/* ENABLE DISPLAYS */
/* The following display config will be converted to Kconfig in the future */
/* Define this if you have at least one display (D0) */
#define CONFIG_ARMSTONEA9_D0
/* Define this if you have a second display (D1) */
#define CONFIG_ARMSTONEA9_D1

/* CONFIGURE DISPLAY 0 */
#ifdef CONFIG_ARMSTONEA9_D0
/* Activate exactly one entry for the type of display D0 */
#define CONFIG_ARMSTONEA9_D0_LCD				// LCD
//#define CONFIG_ARMSTONEA9_D0_LVDS				// LVDS
//#define CONFIG_ARMSTONEA9_D0_HDMI				// HDMI
/*
 * Define a mode_str entry for display D0 (depends on display type above)
 * See the following files for possible values:
 *   LVDS: drivers/video/mxc/ldb.c
 *   LCD:  drivers/video/mxc/mxc_lcdif.c
 *   HDMI: drivers/video/fbdev/mxc/mxc_hdmi.c (actually fetched from panel via EDID)
 */
#ifdef CONFIG_ARMSTONEA9_D0_LCD
	#define CONFIG_ARMSTONEA9_D0_MODE_STR "LCD-ET070080"	// LCD
#elif defined(CONFIG_ARMSTONEA9_D0_LVDS)
	#define CONFIG_ARMSTONEA9_D0_MODE_STR "LDB-WVGA"		// LVDS
#elif defined(CONFIG_ARMSTONEA9_D0_HDMI)
	#define CONFIG_ARMSTONEA9_D0_MODE_STR "1920x1080M@60"	// HDMI
#endif
#endif // CONFIG_ARMSTONEA9_D0

/* CONFIGURE DISPLAY 1 */
#ifdef CONFIG_ARMSTONEA9_D1
/* Activate exactly one entry for the type of display D1 */
//#define CONFIG_ARMSTONEA9_D1_LCD				// LCD
#define CONFIG_ARMSTONEA9_D1_LVDS				// LVDS
//#define CONFIG_ARMSTONEA9_D1_HDMI				// HDMI

/* Define a mode_str entry for display D1 (see comment for D0 above) */
#ifdef CONFIG_ARMSTONEA9_D1_LVDS
	#define CONFIG_ARMSTONEA9_D1_MODE_STR "LDB-WVGA"		// LVDS
#elif defined(CONFIG_ARMSTONEA9_D1_HDMI)
	#define CONFIG_ARMSTONEA9_D1_MODE_STR "1920x1080M@60"	// HDMI
#elif	defined(CONFIG_ARMSTONEA9_D1_LCD)
	#define CONFIG_ARMSTONEA9_D1_MODE_STR "LCD-ET070080"	// LCD
#endif
#endif // CONFIG_ARMSTONEA9_D1

/* CONFIGURE LVDS MULTIDISPLAY*/
/* Two LVDS displays act as two independent displays (with two fb) by default.
   Apart from this  can choose between dual-mode and split-mode */
#if defined(CONFIG_ARMSTONEA9_D0_LVDS) && defined(CONFIG_ARMSTONEA9_D1_LVDS)
/* one LVDS display per channel, one framebuffer for both */
//#define CONFIG_ARMSTONEA9_LVDS_DUAL_MODE
/* two channels for 'split-mode-display', one framebuffer */
//#define CONFIG_ARMSTONEA9_LVDS_SPLIT_MODE
#endif

/* Do some settings to make configurations easier */
#if defined(CONFIG_ARMSTONEA9_D0_LCD) || defined(CONFIG_ARMSTONEA9_D1_LCD)
#define CONFIG_ARMSTONEA9_LCD // activates LCD node
#endif
#if defined(CONFIG_ARMSTONEA9_D0_HDMI) || defined(CONFIG_ARMSTONEA9_D1_HDMI)
#define CONFIG_ARMSTONEA9_HDMI // activates HDMI node
#endif

#if defined(CONFIG_ARMSTONEA9_D0_LVDS) || defined(CONFIG_ARMSTONEA9_D1_LVDS)
#define CONFIG_ARMSTONEA9_LVDS // activates LVDS node
#endif

/* HDMI */
#ifdef CONFIG_ARMSTONEA9_HDMI
#define CONFIG_ARMSTONEA9_HDMI_AUDIO
#endif


/*
 * Configure touch screen:
 *
 * - 4-wire/5-wire analog resistive touch, touch controller on RGB LCD adapter
 * - 4-wire/5-wire analog resistive touch (SX8655), on Touch Connector
 * - PCAP touch based on Maxtouch controller (MXT224, etc.), on Touch Connector
 * - PCAP touch based on Focaltech controller (FT5x06), on Touch Connector
 *
 * Select none if you do not need touch support.
 */
#define CONFIG_ARMSTONEA9_4WTOUCH_SX8655_RGBADAPTER
//#define CONFIG_ARMSTONEA9_4WTOUCH_SX8655
//#define CONFIG_ARMSTONEA9_CAPTOUCH_MXT224
//#define CONFIG_ARMSTONEA9_CAPTOUCH_FT5x06

/* CMA: Set 320 MB for Continuous Memory Allocator */
#define CONFIG_ARMSTONEA9_CMA_SIZE	0x14000000

/* NAND */
#define CONFIG_ARMSTONEA9_NAND

/* AUDIO */
#define CONFIG_ARMSTONEA9_SGTL5000_AUDIO

/* Camera connected */
//#define CONFIG_ARMSTONEA9_CAMERA

/* Camera on parallel CSI interface */
//#define CONFIG_ARMSTONEA9_PARALLEL_CAMERA

/* Camera on serial MIPI CSI interface */
//#define CONFIG_ARMSTONEA9_SERIAL_CAMERA

/* SD-CARD - SD_A is micro SD */
#define CONFIG_ARMSTONEA9_SD_A

/* I2C */
#define CONFIG_ARMSTONEA9_I2C_A
#define CONFIG_ARMSTONEA9_I2C_B
#define CONFIG_ARMSTONEA9_I2C_C

/* SPI */
#define CONFIG_ARMSTONEA9_SPI_A

/* UART */
#define CONFIG_ARMSTONEA9_UART_A
#define CONFIG_ARMSTONEA9_UART_B
#define CONFIG_ARMSTONEA9_UART_C

#include "imx6dl.dtsi"
#include "armstonea9qdl.dtsi"

/ {
	model = "F&S i.MX6 Solo/DualLite armStoneA9";
	compatible = "fsl,imx6dl-armstonea9", "fsl,imx6dl";
};

#ifdef CONFIG_ARMSTONEA9_LVDS
&ldb {
	ext_ref;
#ifdef CONFIG_ARMSTONEA9_LVDS_DUAL_MODE
	dual-mode;
#endif
#ifdef CONFIG_ARMSTONEA9_LVDS_SPLIT_MODE
	split-mode;
#endif

	/* Note: In crtc string, IPUs are counted from 1, displays from 0 */
#ifdef CONFIG_ARMSTONEA9_LCD
	/* If LCD is enabled, it must use DI0, so LVDS must use DI1 */
	lvds-channel@0 {
		crtc = "ipu1-di1";
		reg = <0>;
		status = "okay";
	};
#else
	/* If LCD is not enabled, LVDS can use DI0 */
	lvds-channel@0 {
		crtc = "ipu1-di0";
		reg = <0>;
		status = "okay";
	};
#endif
#if defined(CONFIG_ARMSTONEA9_D0_LVDS) && defined(CONFIG_ARMSTONEA9_D1_LVDS)
	/* If two separate LVDS displays are active, also use second channel */
	lvds-channel@1 {
		crtc = "ipu1-di1";
		reg = <1>;
		status = "okay";
	};
#endif
};
#endif

#ifdef CONFIG_ARMSTONEA9_HDMI
&hdmi_core {
	ipu_id = <0>;
	disp_id = <1>;
	status = "okay";
};
#endif

#ifdef CONFIG_ARMSTONEA9_D0
&mxcfb0 {
	status = "okay";
};
#endif

#ifdef CONFIG_ARMSTONEA9_D1
&mxcfb1 {
	status = "okay";
};
#endif

/* i.MX6 Solo and DualLite have a PXP engine */
&pxp {
	status = "okay";
};
