/*
 * Copyright (C) 2020 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

/* Set board revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_CUBEA5_BOARD_REVISION	110

/* AUDIO */
#define CONFIG_CUBEA5_SGTL5000_AUDIO

#include "vf610.dtsi"
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>

/ {
	model = "F&S CubeA5";
	compatible = "fus,cubea5", "fsl,vf610";

	aliases {
#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
		i2c4 = &i2c_gpio;
#endif
	};

	memory {
		reg = <0x80000000 0x80000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		wlan_en_reg: regulator_wl_en {
			compatible = "regulator-fixed";
			regulator-name = "WLAN";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio3 2 0>;
			enable-active-high;
			startup-delay-us = <70000>;
		};

		reg_wlan_1v8: reg_wlan_1v8 {
			compatible = "regulator-fixed";
			regulator-name = "VQMMC WLAN_1V8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
		/* SGTL5000 analog voltage */
		reg_sgtl5000_vdda: sgtl5000_vdda {
			compatible = "regulator-fixed";
			regulator-name = "VDDA-supply";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-always-on;
		};

		/* SGTL5000 I/O voltage */
		reg_sgtl5000_vddio: sgtl5000_vddio {
			compatible = "regulator-fixed";
			regulator-name = "VDDIO-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		/* SGTL5000 internal digital voltage */
		reg_sgtl5000_vddd: sgtl5000_vddd {
			compatible = "regulator-fixed";
			regulator-name = "VDDD-supply";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
			regulator-always-on;
		};
#endif /* CONFIG_CUBEA5_SGTL5000_AUDIO */

/* USB1_VBUS not connected */
#if 0
		reg_usb_h1_vbus: usb_h1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 15 0>;
			enable-active-high;
		};
#endif
		reg_vcc_3v3_mcu: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "vcc_3v3_mcu";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		reg_vref_3v3: regulator_3v3 {
			compatible = "regulator-fixed";
			regulator-name = "vref-3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	/* DEFAULT key */
	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		defaultkey {
			label = "DEFAULT key";
			linux,code = <KEY_SETUP>;
			gpios = <&gpio3 31 GPIO_ACTIVE_LOW>;
		};
	};

	/* F&S board information */
	bdinfo: bdinfo {
		compatible = "bdinfo";
	};

#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
	i2c_gpio: i2c-gpio {
		compatible = "i2c-gpio";
		gpios = <&gpio3 23 GPIO_ACTIVE_HIGH /* sda */
			 &gpio3 22 GPIO_ACTIVE_HIGH /* scl */
			>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c5_gpio>;
//		i2c-gpio,sda-open-drain;
//		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
	};

	sound-sgtl5000 {
		compatible = "fsl,imx-audio-sgtl5000";
		cpu-dai = <&sai2>;
		audio-codec = <&sgtl5000>;
		model = "imx-sgtl5000";

		audio-routing =
//			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"LINE_IN", "Line In Jack";
//			"Line Out Jack", "LINE_OUT";
	};
#endif

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_status_leds>;

		status_1 {
			label = "green";
			gpios = <&gpio3 7 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};

		status_2 {
			label = "yellow";
			gpios = <&gpio3 8 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};
	};
};

/*
 * The Audio-PLL (PLL4) is set to 1179.648 MHz by default. This can be divided
 * by 16 with the PLL4_CLK_DIV to get 73.728 MHz and further by 3 or 6 with
 * SAI2_DIV or CKO2_DIV to get 24.576 MHz or 12.288 Mhz, which are multiples of
 * the most commonly used bit rates. Use CKO2 by default.
 */
&clks {
	assigned-clocks =
			<&clks VF610_CLK_PLL4_MAIN_DIV>,
			<&clks VF610_CLK_CKO2_SEL>,
			<&clks VF610_CLK_CKO2_PODF>;

	assigned-clock-parents =
			<0>,
			<&clks VF610_CLK_PLL4_MAIN_DIV>;

	assigned-clock-rates =
			<73728000>,
			<0>,
			<12288000>;			/* or <24576000> */
};

&nfc {
	compatible = "fus,vf610-nfc";
	fus,ecc-mode = <5>;
	status = "okay";
};

&edma0 {
	status = "okay";
};

/* The WLAN chip needs a 32768 Hz clock on CKO1. */
&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	bus-width = <4>;
	non-removable;
	cap-power-off-card;
	vmmc-supply = <&wlan_en_reg>;	/* VDD, misused for WLAN_EN */
	vqmmc-supply = <&reg_wlan_1v8>;	/* VDD_IO */
	voltage-ranges = <1800 1800>;
	keep-power-in-suspend;
	enable-sdio-wakeup;
#if 1
	clocks = <&clks VF610_CLK_IPG_BUS>,
		<&clks VF610_CLK_PLATFORM_BUS>,
		<&clks VF610_CLK_ESDHC1>,
		<&clks VF610_CLK_CKO1>;
	clock-names = "ipg", "ahb", "per", "extra";
#endif
	assigned-clocks =
			<&clks VF610_CLK_CKO1_SEL>,
			<&clks VF610_CLK_CKO1_PODF>,
			<&clks VF610_CLK_CKO1>;
	assigned-clock-parents =
			<&clks VF610_CLK_SXOSC>,
			<0>,
			<0>;
	assigned-clock-rates =
			<0>,
			<0>,
			<32768>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	wlcore: wlcore@2 {
		compatible = "ti,wl1271";
		reg = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
		ref-clock-frequency = <38400000>;
		clocks = <&clks VF610_CLK_CKO1>;
		clock-names = "slowclk";
	};
};

#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
/* I2C_C (Bitbanging): RTC (PCA8565), SGTL5000 (SKIT) */
&i2c_gpio {
	sgtl5000: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		mono2both;
		clocks = <&clks VF610_CLK_CKO2>;
		VDDA-supply = <&reg_sgtl5000_vdda>;
		VDDIO-supply = <&reg_sgtl5000_vddio>;
		VDDD-supply = <&reg_sgtl5000_vddd>;
	};
};
#endif /* CONFIG_CUBEA5_SGTL5000_AUDIO */

&L2 {
	arm,data-latency = <2 1 2>;
	arm,tag-latency = <3 2 3>;
};

#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	fsl,mclk-out;
	status = "okay";
};
#endif

&tcon0 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&usbdev0 {
	disable-over-current;
	status = "okay";
};

&usbmisc0 {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	cubea5 {
		/* Pin configs that don't belong anywhere else */
		pinctrl_hog: hoggrp {
			fsl,pins = <
				/* USB1_VBUS */
				//VF610_PAD_PTE6__GPIO_111		0x214c
				/* DEFAULT button */
				VF610_PAD_PTE22__GPIO_127		0x219d
			>;
		};

		pinctrl_status_leds: ledgrp {
			fsl,pins = <
				/* Status LEDs */
				VF610_PAD_PTC30__GPIO_103		0x01cf
				VF610_PAD_PTC31__GPIO_104		0x01cf
			>;
		};

		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				VF610_PAD_PTA24__ESDHC1_CLK		0x31ef
				VF610_PAD_PTA25__ESDHC1_CMD		0x31ef
				VF610_PAD_PTA26__ESDHC1_DAT0		0x31ef
				VF610_PAD_PTA27__ESDHC1_DAT1		0x31ef
				VF610_PAD_PTA28__ESDHC1_DAT2		0x31ef
				VF610_PAD_PTA29__ESDHC1_DAT3		0x31ef
				/* WLAN 32kHz clock */
				VF610_PAD_PTB10__CKO1			0x01c2
				/* WLAN_IRQ */
				VF610_PAD_PTB26__GPIO_96		0x01dd
				/* WLAN_EN */
				VF610_PAD_PTB28__GPIO_98		0x01ce
			>;
		};

#ifdef CONFIG_CUBEA5_SGTL5000_AUDIO
		pinctrl_i2c5_gpio: i2c5_gpio_grp {
			fsl,pins = <
				VF610_PAD_PTE13__GPIO_118		0x219c
				VF610_PAD_PTE14__GPIO_119		0x219c
			>;
		};

		pinctrl_sai2: sai2grp {
			fsl,pins = <
				VF610_PAD_PTA16__SAI2_TX_BCLK		0x02ed
				VF610_PAD_PTA18__SAI2_TX_DATA		0x02ee
				VF610_PAD_PTA19__SAI2_TX_SYNC		0x02ed
				VF610_PAD_PTA22__SAI2_RX_DATA		0x02ed
				VF610_PAD_PTB11__CKO2			0x1c1
			>;
		};
#endif /* CONFIG_CUBEA5_SGTL5000_AUDIO */

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				VF610_PAD_PTB4__UART1_TX		0x11a2
				VF610_PAD_PTB5__UART1_RX		0x118d
			>;
		};
	};
};
