/*
 * Copyright (C) 2016-2017 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

/* Set board revision as 3-digit number, e.g. 110 for board rev. 1.10 */
#define CONFIG_PICOMODA9_BOARD_REVISION	110

#define DISPLAY_NONE	0	/* No display on this port */
#define DISPLAY_LCD	1	/* LCD via RGB adapter */
#define DISPLAY_HDMI	2	/* DVI/HDMI via HDMI connector */
#define DISPLAY_LVDS0	3	/* LVDS channel 0 */
#define DISPLAY_LVDS1	4	/* LVDS channel 1 */

/*
 * Set the display configuration:
 *
 * Due to hardware limitations you can only use either LCD or HDMI at the
 * same time. Furthermore we only have one LVDS channel. Based on this
 * specifications you can connect at most two displays on PicoMODA9. Either
 * one LVDS and one HDMI display or one LVDS and one LCD display.
 *
 * - If you have no display, set both settings to DISPLAY_NONE.
 * - If you have one display, set MXCFB0 to one of the display types above and
 *   leave the other settings at DISPLAY_NONE.
 * - If you have two displays, set MXCFB0 and MXCFB1 to a display type from
 *   above.
 *
 * If you set up two displays they will also get a video overlay, so MXCFB0
 * will use /dev/fb0 and /dev/fb1, MXCFB1 will use /dev/fb2 and /dev/fb3. If
 * you want to restrict the display output to one IPU (i.MX6 Dual/Quad has two
 * IPUs), for example for energy saving reasons, you must set
 * CONFIG_PICOMODA9_USE_ONE_IPU below. Then only MXCFB0 will get a video
 * overlay and uses /dev/fb0 and /dev/fb1, and MXCFB1 will only use /dev/fb2.
 */
#define CONFIG_PICOMODA9_MXCFB0		DISPLAY_LVDS0
#define CONFIG_PICOMODA9_MXCFB1		DISPLAY_NONE

/*
 * Define this if you only want to use one IPU. This means that you can use
 * at most two displays and only the first display can have a video overlay.
 * If you want to have more than two displays or if you want to have two
 * displays with a video overlay each, then you need to use both IPUs of the
 * i.MX6 Dual/Quad CPU.
 */
//#define CONFIG_PICOMODA9_USE_ONE_IPU

/*
 * Configure LCD settings here (ignored if LCD is not used);
 * see drivers/video/fbdev/mxc/mxc_lcdif.c for possible LCD mode strings
 */
#define CONFIG_PICOMODA9_LCD_BPP	32
#define CONFIG_PICOMODA9_LCD_PIX_FMT	"RGB666"
#define CONFIG_PICOMODA9_LCD_MODE_STR	"LCD-ET070080"

/* Configure HDMI settings here (ignored if HDMI is not used) */
#define CONFIG_PICOMODA9_HDMI_BPP	32
#define CONFIG_PICOMODA9_HDMI_PIX_FMT	"RGB24"
#define CONFIG_PICOMODA9_HDMI_MODE_STR	"1920x1080M@60"

/*
 * Configure LVDS0 settings here (ignored if LVDS0 is not used)
 * Mapping:
 *
 * - "spwg":  18 bpp or 24 bpp, in case of 24 bpp, bits 6 and 7 of each color
 *            are encoded on fourth LVDS differential data pair
 * - "jeida": only 24 bpp, bits 6 and 7 of each color are interleaved with
 *            all other data bits on all four differential data pairs
 */
#define CONFIG_PICOMODA9_LVDS0_MAPPING		"spwg"
#define CONFIG_PICOMODA9_LVDS0_BPP		32
#define CONFIG_PICOMODA9_LVDS0_PIX_FMT		"RGB666"
#define CONFIG_PICOMODA9_LVDS0_DATA_WIDTH	18
#define CONFIG_PICOMODA9_LVDS0_TIMING \
wvga {					\
	clock-frequency = <33500000>;	\
	hactive = <800>;		\
	vactive = <480>;		\
	hfront-porch = <40>;		\
	hback-porch = <88>;		\
	hsync-len = <128>;		\
	vback-porch = <33>;		\
	vfront-porch = <10>;		\
	vsync-len = <2>;		\
	hsync-active = <0>;		\
	vsync-active = <0>;		\
	de-active = <1>;		\
	pixelclk-active = <0>;		\
}

/*
 * Configure touch screen:
 *
 * - 4-wire/5-wire analog resistive touch, touch controller on-board
 * - PCAP touch based on Maxtouch controller (MXT224, etc.), on Touch Connector
 * - PCAP touch based on Focaltech controller (FT5x06), on Touch Connector
 * - PCAP touch based on Sitronix controller (ST1633i), on Touch Connector
 * - PCAP touch based on Ilink controller (ILI12xx), on Touch Connector
 *
 * On PicoMODA9, all touches use the same interrupt line and I2C bus, so do not
 * select more than one entry! Select none if you do not need touch support.
 */
//#define CONFIG_PICOMODA9_4WTOUCH_SX8655_ONBOARD
#define CONFIG_PICOMODA9_CAPTOUCH_MXT224
//#define CONFIG_PICOMODA9_CAPTOUCH_FT5x06
//#define CONFIG_PICOMODA9_CAPTOUCH_SITRONIX
//#define CONFIG_PICOMODA9_CAPTOUCH_ILINK

/* CMA: Set 320 MB for Continuous Memory Allocator */
#define CONFIG_PICOMODA9_CMA_SIZE	0x14000000

/* NAND */
#define CONFIG_PICOMODA9_NAND

/* AUDIO */
#define CONFIG_PICOMODA9_SGTL5000_AUDIO

/* Parallel digital camera interface */
/* You can only use digital camera if !HDMI, !LCD, !CAN2, !UART_D_RTS/CTS
 */
//#define CONFIG_PICOMODA9_PARALLEL_CAMERA

/* CAN_A */
#define CONFIG_PICOMODA9_CAN_A

/* CAN_B */
/* CAN_B only can be used if !CONFIG_PICOMODA9_HDMI, !CONFIG_PICOMODA9_PARALLEL_CAMERA,
 * !CONFIG_PICOMODA9_UART_D_RTSCTS and HW revision > 100. */
//#define CONFIG_PICOMODA9_CAN_B

/* SD-A: For On-board Micro-SD card slot choose CONFIG_PICOMODA9_SD_A,
 * optional is eMMC or WLAN it depends on HW revision. If you have these
 * then deactivate CONFIG_PICOMODA9_SD_A and activate CONFIG_PICOMODA9_EMMC_WLAN */
#define CONFIG_PICOMODA9_SD_A
//#define CONFIG_PICOMODA9_EMMC_WLAN

/* SD-B: ext. SD card slot (normal-sized SD card slot on SKIT) */
#define CONFIG_PICOMODA9_SD_B

/* I2C */
#define CONFIG_PICOMODA9_I2C_A
#define CONFIG_PICOMODA9_I2C_B
#define CONFIG_PICOMODA9_I2C_C

/* SPI */
#define CONFIG_PICOMODA9_SPI_A

/* UART */
#define CONFIG_PICOMODA9_UART_A
#define CONFIG_PICOMODA9_UART_B
#define CONFIG_PICOMODA9_UART_C
/* UART_A_RTSCTS default, UART_D optional. If you want to use UART_D
 * instead of UART_A_RTSCTS you need R91 & R93. If you want to use UART_D
 * instead of CAN1 you need R90 & R92. Also you can use UART_D_RTS/CTS if
 * you not use CAN2, HDMI, Camera */
#define CONFIG_PICOMODA9_UART_A_RTSCTS
//#define CONFIG_PICOMODA9_UART_D
//#define CONFIG_PICOMODA9_UART_D_RTSCTS

#include "imx6q.dtsi"
#include "picomoda9qdl.dtsi"

/ {
	model = "F&S i.MX6 Dual/Quad PicoMODA9 module";
	compatible = "fsl,imx6q-picomoda9", "fsl,imx6q";
};

&bdinfo {
	board_name = "picomoda9q";
};
